.list {
  display: flex;
  width: 100%;
}

.list-element {
  background-color: #8e8a8a;
  border-radius: 10px;
  display: flex;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;

  width: 100%;
}

.modal-title {
  align-content: left;
}

.list-element:hover {
  background-color: #7a7979;
  cursor: pointer;
}

.distance {
  /* align: right; */
  justify-content: right;
  margin-left: 1.5rem;
}

.distance-text {
  margin-left: 5px;
  color: white;
}
